*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

a:nth-of-type(1){
  margin-right: 20px;
}
ul{
  padding-right: 0px;
  margin-right: 0px;
  padding-inline-start: 0px;
}
.App-link {
  color: #61dafb;
}

